<label>Server Name</label>

<!-- Event Binding -->
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">

<!-- Two-Way Binding -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
  <p>{{ serverName }}</p>

<!-- property binding on disabled attribute -->
<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="serverCreationStatus"></p> -->

<!-- ngIf directive -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>

<!-- string interpolation -->
<p>{{ allowNewServer }}</p>

<!-- Property Binding p element's native innerText attribute to our property -->
<p [innerText]="allowNewServer"></p>

<app-server *ngFor="let server of servers"></app-server>

<p>The array of servers is {{ servers.length }} {{ servers }}</p>
<!-- <app-server></app-server> -->